{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Microlly'Blog{% endblock %}</title>
  </head>
  <body>
    <div class="page-header">

      <h1>Microlly Blog</h1>
      <hr>
    </div>
    <main>
      {% block content %}
      {% endblock %}
    </main>

  </body>
</html>
