{% extends 'base.html' %}

{% block section-title %}
Details
{% endblock %}

{% block content %}
<h4>{{ post.title }}</h4>
<p>{{ post.body }}</p>
<p>Created: {{ post.creation_date }}</p>
<p>Edited: {{ post.update_date }}</p>

{% if user.is_authenticated %}
<div class="content">
    <form class="" action="{% url 'microlly_app:delete' post.slug post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" type="submit">Delete</button>
    </form>
    <form class="" action="{% url 'microlly_app:edit' post.slug post.pk %}">
        {% csrf_token %}
        <button type="submit" type="submit">Edit</button>
    </form>
</div>
{% endif %}

{% endblock %}
