{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
  Hi {{ user.username }}!
  <a href="{% url 'microlly_app:logout' %}">Se deconnecter</a>
  </br><button><a href="{% url 'microlly_app:create' %}">Ajouter un post</a></button>

  {% else %}
  <p>Vous n'etes pas connecté</p>
  <a href="{% url 'microlly_app:login' %}">Se connecter</a>
  <a href="{% url 'microlly_app:signup' %}">S'inscrire</a>
{% endif %}
<hr>

{% if latests_publications %}

    {% for post in latests_publications %}

            <div class="post">
                <h1>
                    <a  href="{% url 'microlly_app:details' post.slug post.pk %}">{{ post.title }}</a>
                </h1>
                <p class="content">
                    {{post.preview}}
                </p>
            </div>
            <div class="content">
                <p class="content">
                    <small class="content">
                        Posted by: {{post.author}} <!--<a href="{% url 'microlly_app:UserPost' post.author %}">{{post.author}}</a>-->
                        <span class="content">
                            <!--<form class="" action="{% url 'microlly_app:UserPost' post.author %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-link" type="submit">{{post.author}}</button>
                            </form>-->
                        </span>
                        {{post.creation_date}}
                    </small>
                </p>
                <p class="content">
                    <small class="date">
                        Last update: {{post.update_date}}
                    </small>
                </p>
            </div>
            <hr>
    {% endfor %}

{% else %}
<p>Aucunes publications.</p>
{% endif %}
{% endblock %}
