{% extends 'base.html' %}

{% block content%}
{% if posts %}

    {% for post in posts %}
    <div class="content">

                    <a href="{% url 'microlly_app:details' post.slug post.pk %}">{{ post.title }}</a>

                <p class="content">
                    {{post.preview}}
                </p>
            </div>
            <div class="content">
                <p class="content">
                    <small class="content">
                        Posted by: {{post.author}} <!--<a href="{% url 'microlly_app:UserPost' post.author %}">{{post.author}}</a>-->
                        <span class="content">
                            <!--<form class="" action="{% url 'microlly_app:UserPost' post.author %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-link" type="submit">{{post.author}}</button>
                            </form>-->
                        </span>
                        {{post.creation_date}}
                    </small>
                </p>
                <p class="content">
                    <small class="content">
                        Last update: {{post.update_date}}
                    </small>
                </p>
          <hr>
    {% endfor %}

{% else %}
<p>Aucunes publications.</p>
{% endif %}
{% endblock %}
