{% extends 'base.html' %}

{% block content %}
  <h2>Connexion</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Se connecter</button>
    <a href="{% url 'microlly_app:signup' %}"> <input type="button" value = "s'inscrire" ></a>
    </br>
    <button><a href="{% url 'microlly_app:index' %}">Acceuil</a></button>


  </form>
  {% endblock %}
