{% extends 'base.html' %}

{% block content %}
  <h2>Inscription</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}